.providerflow {
  flex-direction: row;
  display: flex;
  min-height: inherit;
  height: 100%;
  min-width: 100%;
}

.providerflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
}

.providerflow aside .description {
  margin-bottom: 10px;
}

.providerflow aside .title {
  font-weight: 700;
  margin-bottom: 5px;
}

.providerflow aside .transform {
  margin-bottom: 20px;
}

.providerflow .reactflow-wrapper {
  flex-grow: 1;
  height: auto;
  overflow-wrap: break-word;
}

.providerflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .providerflow {
    flex-direction: row;
  }

  .providerflow aside {
    width: 40%;
    max-width: 800px;
  }
}

.react-flow__minimap {
  background-color: #1a192b;
}

.react-flow__node {
  min-height: 58px;
}

.react-flow__node-hoiNode {
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.react-flow__node-hoiNode {
  background: #fff;
  border-color: #1a192b;
}
